$borderColor: #00000014;
$borderRadius: 30px;

* {
    margin: 0;
    padding: 0;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

main {
    position: fixed;
    z-index: 1001;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

#container {
    align-items: center;
    display: flex;
    justify-content: center;
    overflow-y: scroll;
    padding: 2em 0;
    width: 100%;
    overflow: hidden;

    #card {
        background: #fff;
        width: 700px;
        height: 80%;
        border-radius: $borderRadius;
        border: 4px solid $borderColor;
        box-shadow: 0px 0px 26px -8px #00000073;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 1em;
        box-sizing: border-box;

        #logo {
            display: flex;
            align-items: center;
            margin-bottom: 1em;
            justify-content: center;
            flex-direction: column;

            h1 {
                text-transform: uppercase;
                font-size: 16px;

                span {
                    color: #b9b9b9;
                }
            }

            img {
                width: 30%;
            }
        }

        .card-item {
            border-radius: $borderRadius;
            width: 90%;
            height: 100%;
            margin: 0 0 1em 0;
            padding: 1em;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            h3 {
                margin-bottom: 1em;
            }
            p {
                text-align: justify;
                text-indent: 1em;
            }

            #pix,
            #picpay {
                width: 50px;
            }

            .card-pix,
            .card-picpay {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                font-size: 32px;
                margin-top: 18px;
                padding-bottom: 1em;
                img {
                    margin-right: 0.5em;
                }

                h1 {
                    font-size: 36px;
                    text-align: center;
                }

                h3 {
                    margin: 0;
                }

                #card-pix-header {
                    width: 100%;
                    padding: 10px 0;
                    display: flex;
                    justify-content: center;
                }
            }

            .card-pix {
                border: 2px dashed $borderColor;
                border-radius: $borderRadius;
                display: flex;

                span {
                    width: 100%;
                    text-align: center;
                    font-size: 16px;
                }
            }
        }

        #escolha {
            font-weight: bold;
            font-size: 16px;
            margin-top: 0.3em;
        }

        #qrcode {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 0.5em;

            img {
                width: 30%;
                margin: 0;
            }
        }
    }
    #minha_logo {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 1002;
        text-decoration: none;
        border-top: 1px solid #0000001f;
        color: #727272;
        display: flex;
        padding: 7px 0;
        align-items: center;
        z-index: 10;
        background: #fff;
        justify-content: center;
        cursor: default;

        a {
            text-decoration: none;
            color: #828282;
        }

        img {
            filter: invert(46%) sepia(0%) saturate(590%) hue-rotate(174deg) brightness(95%) contrast(81%);
            width: 25px;
            margin-right: 0.7em;
        }
    }
}

.white {
    height: 100vh;
    &:before {
        z-index: 1000;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 60vh;
        background-image: linear-gradient(-180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
    }
    &:after {
        z-index: 1000;
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 20vh;
        background-image: linear-gradient(0deg, #ebebeb 0%, rgba(235, 235, 235, 0) 100%);
    }
}

.squares {
    height: 100%;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
}
.square {
    animation: squares 9.5s linear infinite;
    align-self: flex-end;
    width: 1em;
    height: 1em;
    transform: translateY(100%);
    background: #ebebeb;
    &:nth-child(2) {
        height: 1.5em;
        width: 3em;
        animation-delay: 1s;
        animation-duration: 17s;
        filter: blur(5px);
    }
    &:nth-child(3) {
        height: 2em;
        width: 1em;
        animation-delay: 1.5s;
        animation-duration: 8s;
        filter: blur(3px);
    }
    &:nth-child(4) {
        height: 1em;
        width: 1.5em;
        animation-delay: 0.5s;
        filter: blur(3px);
        animation-duration: 13s;
    }
    &:nth-child(5) {
        height: 1.25em;
        width: 2em;
        animation-delay: 4s;
        filter: blur(2px);
        animation-duration: 11s;
    }
    &:nth-child(6) {
        height: 2.5em;
        width: 2em;
        animation-delay: 2s;
        filter: blur(1px);
        animation-duration: 9s;
    }
    &:nth-child(7) {
        height: 5em;
        width: 2em;
        filter: blur(2.5px);
        animation-duration: 12s;
    }
    &:nth-child(8) {
        height: 1em;
        width: 3em;
        animation-delay: 5s;
        filter: blur(6px);
        animation-duration: 18s;
    }
    &:nth-child(9) {
        height: 1.5em;
        width: 2em;
        filter: blur(0.5px);
        animation-duration: 9s;
    }
    &:nth-child(9) {
        height: 3em;
        width: 2.4em;
        animation-delay: 6s;
        filter: blur(0.5px);
        animation-duration: 12s;
    }
}

textarea {
    width: 100%;
    text-align: center;
    overflow: hidden;
    border: none;
    outline: none;
    resize: none;
    color: #171717;
    font-weight: bold;
    background: none;
    font-size: 28px;
    user-select: none;
    margin-bottom: 0.5em;
}
#chave_pix_hide {
    visibility: hidden;
    position: absolute;
    top: -100em;
    left: -100em;
    user-select: none;
}
#btn_copiar {
    cursor: pointer;
    background: rgba(0, 255, 64, 0.3);
    display: flex;
    margin-bottom: 0.5em;
    border: 1px solid #00000014;
    justify-content: center;
    align-items: center;
    padding: 5px 16px;
    border-radius: $borderRadius;
    transition: all 0.3s ease-in-out;

    &:hover {
        transform: scale(1.08);
        transition: all 0.3s ease-in-out;
    }

    #btn_copiar-text {
        font-size: 14px !important;
        margin: 0 !important;
    }

    img {
        margin: 0 0 0 5px !important;
        width: 26px !important;
    }
}

@keyframes squares {
    from {
        transform: translateY(100%) rotate(-50deg);
    }
    to {
        transform: translateY(calc(-100vh + -100%)) rotate(20deg);
    }
}

@media (max-width: 600px) {
    body {
        font-size: 12px;
    }
    #container #card .card-item .card-pix,
    #container #card .card-item .card-picpay {
        font-size: 18px;
    }

    #container #card .card-item #pix,
    #container #card .card-item #picpay {
        width: 25px;
    }

    #container #card {
        background: none;
        border: none;
        box-shadow: none;
    }

    .card-item .card-item {
        background: #fff;
    }

    #container #card #qrcode img {
        width: 50%;
        margin: 0.5em 0 0 0;
    }

    #container #card .card-item .card-pix h1,
    #container #card .card-item .card-picpay h1 {
        font-size: 37px;
    }

    #container #card .card-item .card-pix span {
        margin-top: 0.5em;
    }
}
