@-webkit-keyframes setaParaFechar {
  0% {
    margin-left: 8px;
  }
  100% {
    margin-left: 14px;
  }
}
@keyframes setaParaFechar {
  0% {
    margin-left: 8px;
  }
  100% {
    margin-left: 14px;
  }
}
.erro {
  background: #d9534f;
}

.success {
  background: #5cb85c;
}

.success-light-border {
  background: #e0ffe0 !important;
  border: 2px solid #5cb85c78 !important;
}

.warning {
  background: #f0ad4e;
}

.warning-light-border {
  background: #fdf2c2 !important;
  border: 2px solid #f0d24e !important;
}

.info-light {
  background: #8dd1e5 !important;
}

.hidden {
  display: none;
}

* {
  box-sizing: border-box;
}

a {
  color: #3ca53c;
  transition: all 0.3s ease-in-out;
}
a:hover {
  transition: all 0.3s ease-in-out;
  color: #206c20;
}

body,
#root,
#app,
#home {
  width: 100%;
  margin: 0;
  padding: 0;
  background: #f1f4fb;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

#home {
  display: flex;
}

main {
  background: #f1f4fb;
  height: 100vh;
  overflow-y: scroll;
  width: 100%;
  padding: 1em 0;
  position: relative;
}

#main_header {
  transform: translateY(-30px);
}

#saudacao-container {
  align-items: center;
  display: flex;
  height: 50px;
  justify-content: flex-end;
  padding: 0 1em;
  width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 10;
}
#saudacao-container #saudacao-body {
  height: 32px;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0px 22px;
  position: relative;
  font-size: 15px;
}
#saudacao-container #saudacao-body #saudacao-user_name {
  text-transform: capitalize;
  display: flex;
  align-items: center;
}
#saudacao-container #saudacao-body img#saudacao-botao {
  width: 22px;
  margin-left: 8px;
}
#saudacao-container #saudacao-body a {
  text-decoration: none;
  color: #181818;
}
#saudacao-container #saudacao-body #saudacao-box_itens {
  border: 1px solid #e1e1e1;
  display: none;
  background: #fff;
  border-radius: 6px;
  box-shadow: -4px 6px 10px 2px #0000001c;
  position: absolute;
  right: 24px;
  top: 32px;
  width: 100%;
}
#saudacao-container #saudacao-body #saudacao-box_itens .saudacao-item {
  width: 100%;
  display: block;
  padding: 4px 16px;
  text-align: right;
  transition: all 0.3s ease-in-out;
}
#saudacao-container #saudacao-body #saudacao-box_itens .saudacao-item:nth-child(1) {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
#saudacao-container #saudacao-body #saudacao-box_itens .saudacao-item:hover {
  background: #181818;
  color: #fff;
  transition: all 0.3s ease-in-out;
}
#saudacao-container #saudacao-body #saudacao-box_itens .saudacao-item.sair {
  border-top: 1px solid #c5c5c5;
  border-bottom: none;
}
#saudacao-container #saudacao-body #saudacao-box_itens .saudacao-item.sair:hover {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
#saudacao-container #saudacao-body #saudacao-box_itens .saudacao-item.sair a {
  color: #d9534f;
}
#saudacao-container #saudacao-body:hover #saudacao-box_itens {
  display: block !important;
}

#btn_hide_sibdebar {
  background: white;
  position: -webkit-sticky;
  position: sticky;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 32px;
  width: 38px;
  left: -23px;
  top: 10px;
  z-index: 80;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  flex-direction: column;
}
#btn_hide_sibdebar .line {
  width: 22px;
  height: 3px;
  background: #181818;
  transition: all 1s ease-in-out;
}
#btn_hide_sibdebar .line:nth-child(2) {
  margin: 3px 0;
}
#btn_hide_sibdebar .btn_x-border {
  border: 3px solid #00000000;
  transition: all 0.4s ease-in-out;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}
#btn_hide_sibdebar.btn_x .btn_x-border {
  border: 3px solid #d9534f;
  transition: all 0.4s ease-in-out;
  transform: scale(0.8);
  border-radius: 100%;
}
#btn_hide_sibdebar.btn_x .line {
  transition: all 1s ease-in-out;
  background: #d9534f;
}
#btn_hide_sibdebar.btn_x .line:nth-child(1) {
  transform: rotate(45deg) translate(4px, 4px) scale(0.75);
}
#btn_hide_sibdebar.btn_x .line:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -4px) scale(0.75);
}
#btn_hide_sibdebar.btn_x .line:nth-child(2) {
  margin: 3px 0;
  opacity: 0;
}
#btn_hide_sibdebar img {
  margin-left: 8px;
  width: 24px;
  margin-right: 3px;
  transition: all 0.5s ease-in-out;
}

.reverse {
  transform: rotate(180deg);
  transition: all 0.5s ease-in-out;
}

aside#sidebar {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  align-items: center;
  background: white;
  display: flex;
  flex-direction: column;
  padding: 2em 1em;
  position: relative;
  width: 360px;
}

.logo {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.logo img {
  width: 120px;
}
.logo span {
  color: #b7bec6;
  font-size: 12px;
  font-weight: bold;
  margin-top: 2px;
  text-transform: uppercase;
}
.logo span strong {
  color: #181818;
}

nav {
  width: 100%;
  margin-top: 1em;
}
nav .navbutton_item {
  position: absolute;
  top: 40px;
  right: 0;
  z-index: 5;
  background: aqua;
  padding: 0.5em 1em;
}
nav .navbutton {
  position: relative;
  border: 2px solid rgba(0, 0, 0, 0);
  margin: 1em 0;
  border-radius: 6px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 10px 0;
  text-decoration: none;
  color: #181818;
  transition: all 0.3s;
}
nav .navbutton.apoie {
  background: #e0ffe0;
  border: 2px solid #5cb85c78;
}
nav .navbutton:hover {
  border: 2px solid black;
  box-shadow: 0px 0px 13px 2px #d8d8d881;
  transition: all 0.3s;
}
nav .navbutton.router-link-exact-active {
  background: #181818;
  color: #e1e1e1;
}
nav .navbutton.router-link-exact-active img {
  filter: invert(100%);
}
nav .navbutton img {
  width: 18px;
  margin: 0 16px;
}
nav .navbutton span {
  font-size: 14px;
  font-feature-settings: "lnum";
  line-height: 18px;
}

#sugestoes_contaneir {
  display: flex;
  position: absolute;
  bottom: 1em;
  width: 90%;
  transition: all 0.3s;
}
#sugestoes_contaneir #sugestoes {
  margin-top: 2em;
  background: #f1f4fb;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 6px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  align-self: flex-end;
}
#sugestoes_contaneir #sugestoes #lampada {
  background: #f1f4fb;
  border-radius: 100%;
  margin-top: -16px;
}
#sugestoes_contaneir #sugestoes img {
  width: 18px;
  padding: 12px;
  box-sizing: content-box;
  height: 18px;
  transition: transform 0.5s, filter 0.5s;
  cursor: pointer;
  filter: invert(51%) sepia(67%) saturate(2804%) hue-rotate(346deg) brightness(96%) contrast(100%);
}
#sugestoes_contaneir #sugestoes img:hover {
  transform: scale(1.15);
  transition: transform 0.5s, filter 0.5s;
}
#sugestoes_contaneir #sugestoes p,
#sugestoes_contaneir #sugestoes span {
  text-align: center;
  color: #181818;
  margin: 0;
}
#sugestoes_contaneir #sugestoes p {
  font-size: 12px;
  line-height: 24px;
  padding: 1em;
  height: 150px;
}
#sugestoes_contaneir #sugestoes h5 {
  font-size: 14px;
  color: #18181880;
  margin: 0 0 1em 0;
}
#sugestoes_contaneir #sugestoes a {
  display: block;
  border: 1px solid #18181880;
  margin-top: 6px;
  background: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  color: #18181880;
  font-weight: bold;
  border-radius: 6px;
  transition: color 0.3s, border 0.3s;
}
#sugestoes_contaneir #sugestoes a:hover {
  color: #181818;
  border: 1px solid #181818;
  transition: color 0.3s, border 0.3s;
}

form#formulario {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

#form_informacoes_pessoais,
#form_informacoes_indisponiveis,
#form_informacoes_financeiras {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 1em;
  justify-content: space-evenly;
  border-radius: 6px;
  border: 2px solid #e1e1e1;
  margin: 1em 0.7em;
}
#form_informacoes_pessoais h2,
#form_informacoes_indisponiveis h2,
#form_informacoes_financeiras h2 {
  width: 100%;
  text-align: center;
  margin: 0 0 0.6em 0;
  background: #181818;
  border-radius: 6px;
  color: #fff;
  padding: 6px;
  cursor: default;
  border: 2px solid #c5c5c5;
}

#form_informacoes_pessoais .question_root {
  width: 47%;
  margin: 8px 0;
}

#form_informacoes_financeiras .question_root {
  width: 99%;
  margin: 16px 0;
}
#form_informacoes_financeiras #form_informacoes_financeiras_col1,
#form_informacoes_financeiras #form_informacoes_financeiras_col2 {
  width: 48%;
}

.question_root {
  width: 48%;
  border-radius: 6px;
  font-size: 14px;
  border: 2px solid #d8d8d86b;
  background-color: #ffffff;
  margin: 0.7em 0.7em;
  transition: box-shadow 0.3s;
  position: relative;
}
.question_root:hover {
  box-shadow: 9px 9px 25px -11px rgba(0, 0, 0, 0.22);
  transition: box-shadow 0.3s;
  cursor: default;
}
.question_root legend {
  border-radius: 6px;
  border: 2px solid #fff;
  background: #f1f4fb;
  color: #181818;
  padding: 3px 1em;
  cursor: default;
}
.question_root .ajuda_container {
  position: absolute;
  background: #f1f4fb;
  border-radius: 100%;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #fff;
  right: -11px;
  top: -18px;
  cursor: help;
}
.question_root .ajuda_container:hover .ajuda_texto {
  opacity: 1;
  transition: all 0.3s;
  box-shadow: 11px 13px 14px -8px #00000070;
  visibility: visible;
}
.question_root .ajuda_container .ajuda_texto {
  background: #000000d6;
  border-radius: 6px;
  border: 2px solid #3a3a3a;
  opacity: 0;
  padding: 0px 9px;
  position: absolute;
  right: 25px;
  top: -33px;
  transition: all 0.3s;
  visibility: hidden;
  width: 317px;
  z-index: 2;
}
.question_root .ajuda_container .ajuda_texto p {
  font-size: 10px;
  color: #fff;
  text-align: justify;
  text-indent: 2em;
}
.question_root .ajuda_container img {
  transition: filter 1s;
}
.question_root .ajuda_container img:hover {
  filter: invert(71%) sepia(79%) saturate(5386%) hue-rotate(167deg) brightness(102%) contrast(97%);
  transition: filter 1s;
}
.question_root .ajuda_container a {
  text-decoration: none;
  color: #6ae79c;
  transition: all 0.3s;
}
.question_root .ajuda_container a:hover {
  color: #f1f4fb;
  text-decoration: underline;
  transition: all 0.3s;
}

.onde_pesquisar {
  background: #00ff7320;
  border-radius: 6px;
  padding: 1em 0;
  margin-top: 0.5em;
}
.onde_pesquisar ul {
  margin: 5px 0 0 0;
  list-style: square;
}

.question_body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px dashed rgba(218, 218, 218, 0.699);
  padding: 8px 12px;
  border-radius: 6px;
  margin: 2px 0;
}
.question_body .question_title {
  align-self: flex-start;
}
.question_body select,
.question_body input {
  border: 1px solid #c5c5c5;
  border-radius: 6px;
  background: #f2eefd;
  padding: 4px 10px;
}

#ficha_auxilitar {
  padding: 1em;
  background: #f1f4fb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
#ficha_auxilitar table {
  background: #fff;
  width: 250mm;
  border-radius: 6px;
  padding: 0 0.5em;
}
#ficha_auxilitar input {
  border: none;
  height: 20px;
  background: none;
  outline: none;
  border: 1px dashed #1818184a;
  font-size: 16px;
}
#ficha_auxilitar input:focus {
  outline: none;
}
#ficha_auxilitar input#nome {
  width: 100%;
}
#ficha_auxilitar tr {
  height: 20px;
}
#ficha_auxilitar td.td_calculos {
  border: 1px solid #363636;
  text-align: center;
}
#ficha_auxilitar td.td_calculos.valor {
  text-align: right;
}
#ficha_auxilitar td.td_calculos.valor input {
  text-align: right;
  width: 100%;
}
#ficha_auxilitar td.td_calculos.rubrica {
  text-align: left;
  padding-left: 1em;
}
#ficha_auxilitar td.td_calculos p {
  margin: 2px 0;
}
#ficha_auxilitar td.valor_contracheque {
  width: 10px;
}
#ficha_auxilitar td.td_assinatura {
  border: 1px solid white;
  text-align: center;
}
#ficha_auxilitar td.td_assinatura.fc_footer p {
  margin-top: 1em;
}
#ficha_auxilitar td.td_assinatura p {
  margin: 0;
}
#ficha_auxilitar td.td_cabecalho {
  padding: 0 0.5em;
  text-align: left;
}
#ficha_auxilitar td.td_cabecalho.pg_abrev, #ficha_auxilitar td.td_cabecalho.mes_info {
  text-align: left;
}
#ficha_auxilitar td.td_cabecalho.pg, #ficha_auxilitar td.td_cabecalho.mes {
  text-align: right;
}
#ficha_auxilitar td.td_cabecalho p {
  margin: 3px 0;
}
#ficha_auxilitar td.obs {
  position: relative;
}
#ficha_auxilitar td.obs p {
  position: absolute;
  top: 0;
  margin: 1em 50% 0 50%;
  transform: translateX(-50%);
}
#ficha_auxilitar textarea {
  width: 100%;
  height: 100%;
  resize: vertical;
  border: 1px dashed #1818184a;
  background: none;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
#ficha_auxilitar textarea:focus {
  outline: none;
}

#gerenciar_formulario {
  position: fixed;
  right: 2em;
  display: flex;
  bottom: 1em;
}
#gerenciar_formulario > * {
  padding: 0 1em;
  margin-right: 1em;
}
#gerenciar_formulario img {
  margin-right: 10px;
}
#gerenciar_formulario img#icon_paper-fold {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
}

.btn_gerar {
  align-items: center;
  background: #181818;
  border-radius: 6px;
  border: 2px solid #c5c5c5;
  box-shadow: 0px 0px 36px -13px rgba(0, 0, 0, 0.863);
  cursor: pointer;
  display: flex;
  height: 40px;
  text-decoration: none;
  transition: all 1s;
}
.btn_gerar.resetar {
  right: calc(2em + 280px + 1em);
  background: #f0d24e;
  width: auto;
  padding: 0 1em;
  color: #181818;
}
.btn_gerar span {
  color: #e1e1e1;
}

.btn_gerar:hover {
  background: #000;
  transition: all 1s;
  border: 2px solid #000;
  transform: scale(1.1);
}
.btn_gerar:hover.resetar {
  background: #f0ad4e;
}

.icon_loading {
  width: 40px;
}

.modal-geral {
  border: 2px solid #c5c5c5;
  position: fixed;
  top: 36px;
  right: 50%;
  transform: translateX(50%);
  border-radius: 6px;
  padding: 6px 32px;
  z-index: 10;
  box-shadow: #00000017 0px 0px 14px;
}

.auth_form-view {
  background: #f1f4fb;
  width: 100%;
  height: 100%;
  display: flex;
  padding: 2em;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.auth_form-view .logo {
  margin: 1.7em 0;
}
.auth_form-view .logo a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-decoration: none;
}
.auth_form-view .logo img {
  width: 200px;
}
.auth_form-view .logo span {
  font-size: 14px;
  color: #181818;
}

.auth_form-container {
  background: #fff;
  padding: 30px 26px;
  width: 90%;
  border: 2px solid #e1e1e1;
  border-radius: 6px;
}

.auth_form-header {
  margin-bottom: 1em;
  font-size: 1.3em;
  font-weight: bold;
  border-bottom: 1px solid #c5c5c5;
  padding-bottom: 9px;
}

.footer_auth {
  margin-top: 1em;
  text-align: center;
}

.auth_form-body {
  width: 100%;
}
.auth_form-body form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.auth_form-body form fieldset {
  width: 100%;
  border: 1px solid #e1e1e1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-radius: 6px;
  margin: 26px 0;
}
.auth_form-body form fieldset legend {
  font-weight: bold;
}
.auth_form-body form .auth_form-inputarea {
  display: flex;
  width: 100%;
  margin-bottom: 1.2em;
  position: relative;
  flex-direction: column;
}
.auth_form-body form .auth_form-inputarea input,
.auth_form-body form .auth_form-inputarea select {
  border-radius: 6px;
  border: 1px solid #c5c5c5;
  width: 90%;
  height: 30px;
  text-indent: 1em;
  background: #e1e1e154;
  transition: border-color 0.3s ease-in-out;
}
.auth_form-body form .auth_form-inputarea input:active, .auth_form-body form .auth_form-inputarea input:focus,
.auth_form-body form .auth_form-inputarea select:active,
.auth_form-body form .auth_form-inputarea select:focus {
  outline: none;
  transition: border-color 0.3s ease-in-out;
  border-color: rgba(0, 0, 0, 0.658);
}
.auth_form-body form .auth_form-inputarea input:invalid,
.auth_form-body form .auth_form-inputarea select:invalid {
  background: rgba(255, 0, 0, 0.219);
}
.auth_form-body form .auth_form-inputarea #iconeeye {
  position: absolute;
  right: 8px;
  top: 2px;
  cursor: pointer;
  width: 25px;
}
.auth_form-body form button[type=submit] {
  padding: 0 36px;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  background-color: #181818;
  border: 1px solid black;
  border-radius: 6px;
  height: 35px;
  margin-top: 1em;
  text-transform: uppercase;
  transition: 0.3s transform ease-in-out;
  box-shadow: rgba(149, 157, 165, 0.63) 0px 5px 9px;
}
.auth_form-body form button[type=submit]:hover {
  transform: scale(1.02);
  transition: 0.3s transform ease-in-out;
}
.auth_form-body.login form .auth_form-inputarea {
  width: 50%;
  min-width: 220px;
}
.auth_form-body.login form .auth_form-inputarea #iconeeye {
  position: absolute;
  right: 8px;
  top: 2px;
  cursor: pointer;
  width: 25px;
}

.senha_errada {
  color: #d9534f;
  width: 100%;
  text-align: center;
}

.perfil_container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 1em;
  justify-content: space-evenly;
  border-radius: 6px;
  border: 2px solid #e1e1e1;
  margin: 1em 0.7em;
  flex-direction: column;
  width: 98%;
  margin: 0 auto;
}
.perfil_container li {
  list-style: circle;
}
.perfil_container h2 {
  width: 100%;
  text-align: center;
  margin: 0 0 0.6em 0;
  background: #181818;
  border-radius: 6px;
  color: #fff;
  padding: 6px;
  cursor: default;
  border: 2px solid #c5c5c5;
}

#modalRespostaBD {
  align-items: center;
  border-radius: 6px;
  border: 2px dashed #ffffff4a;
  box-shadow: 11px 9px 35px -10px #5d5c5e;
  display: flex;
  justify-content: center;
  position: fixed;
  text-align: center;
  top: 2em;
}
#modalRespostaBD #modalRespostaBD_container {
  padding: 0 1em;
  position: relative;
  width: 100%;
}
#modalRespostaBD #modalRespostaBD_container span {
  position: absolute;
  cursor: pointer;
  align-items: center;
  background: #ffffff;
  border-radius: 100%;
  border: 1px solid red;
  color: red;
  display: flex;
  height: 24px;
  justify-content: center;
  right: -12px;
  text-align: center;
  top: -12px;
  width: 24px;
}
#modalRespostaBD strong {
  border: 1px solid black;
  padding: 0px 4px;
}

#legislacao_container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 1em;
  justify-content: space-evenly;
  border-radius: 6px;
  border: 2px solid #e1e1e1;
  margin: 1em 0.7em;
  width: 98%;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
}

#legislacao_header {
  width: 100%;
  text-align: center;
  margin: 0 0 0.6em 0;
  background: #181818;
  border-radius: 6px;
  color: #fff;
  padding: 6px;
  cursor: default;
  border: 2px solid #c5c5c5;
}

#legislacao_body {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#legenda {
  width: 80%;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  margin: 1em 0;
  border: 1px solid #e1e1e1;
  padding: 0.4em 0;
  background-color: #fff;
}
#legenda section {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#legenda section > div {
  display: flex;
}
#legenda section > div > div {
  border: 1px solid #e1e1e1;
  background: #fff;
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
  padding: 1px 5px;
  margin-left: 1em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
#legenda section #item1 {
  border-left: 3px solid #5cb85c;
}
#legenda section #item2 {
  border-left: 3px solid #d9534f;
}
#legenda section #item3 {
  border-left: 3px solid #0275d8;
}

.legislacao_item {
  border: 1px solid #e1e1e1;
  align-items: center;
  background-color: #ffffff;
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
  color: #181818;
  display: flex;
  font-size: 14px;
  height: 70px;
  justify-content: center;
  margin: 0.7em 0.7em;
  padding: 1em 2em;
  position: relative;
  text-align: center;
  text-align: center;
  -webkit-text-decoration: underline solid rgba(168, 168, 168, 0.555);
          text-decoration: underline solid rgba(168, 168, 168, 0.555);
  transition: all 0.5s ease-in-out;
  transition: box-shadow 0.3s;
  width: 40%;
}
.legislacao_item:hover {
  text-decoration: underline;
  transition: all 0.5s ease-in-out;
}

.legislacao_item-receitas {
  border-left: 3px solid #5cb85c;
}

.legislacao_item-descontos {
  border-left: 3px solid #d9534f;
}

.legislacao_item-leis {
  border-left: 3px solid #0275d8;
}

#gererenciarContracheque_body {
  width: 100%;
}

#gererenciarContracheque_container,
#gererenciarContracheque_container2 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 1em;
  justify-content: space-evenly;
  border-radius: 6px;
  border: 2px solid #e1e1e1;
  margin: 1em 0.7em;
  flex-direction: column;
  width: 98%;
}
#gererenciarContracheque_container h2,
#gererenciarContracheque_container2 h2 {
  width: 100%;
  text-align: center;
  margin: 0 0 0.6em 0;
  background: #181818;
  border-radius: 6px;
  color: #fff;
  padding: 6px;
  cursor: default;
  border: 2px solid #c5c5c5;
}

#input_area-data_assinatura_cc {
  display: flex;
  flex-direction: row;
  padding: 0.3em 1em;
  align-items: center;
  background: #fff;
  border-radius: 6px;
  border: 1px solid #e1e1e1;
  display: flex;
  height: 50px;
  margin-bottom: 1em;
  padding: 0.3em 0.7em;
  transition: all 0.3s ease-in-out;
  margin: 0 1.2em;
}
#input_area-data_assinatura_cc button {
  margin-left: 2em;
  border-radius: 6px;
  background: #5cb85c;
  border: 2px solid #00000047;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
  padding: 0.2em 0.8em;
  display: flex;
  width: 100px;
  align-items: center;
  justify-content: center;
}
#input_area-data_assinatura_cc button:hover {
  transform: scale(1.08);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

label {
  margin-right: 0.5em;
}

#data_assinatura_cc {
  outline: none;
  border: 1px solid #e1e1e1;
  border-radius: 6px;
  width: 150px;
  text-align: center;
  transition: all 0.3s ease-in-out;
}
#data_assinatura_cc:active, #data_assinatura_cc:focus {
  border-color: #000000;
  transition: all 0.3s ease-in-out;
}

#gererenciarContracheque_section {
  padding-left: 1.2em;
  width: calc(100% - 1.2em);
}
#gererenciarContracheque_section .gererenciarContracheque-botoes {
  height: auto;
}
#gererenciarContracheque_section .gererenciarContracheque-item {
  align-items: center;
  background: #fff;
  border-radius: 6px;
  border: 1px solid #e1e1e1;
  height: 50px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  margin-bottom: 1em;
  padding: 0.3em 0.7em;
  transition: all 0.3s ease-in-out;
}
#gererenciarContracheque_section .gererenciarContracheque-item > * {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#gererenciarContracheque_section .gererenciarContracheque-item > div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#gererenciarContracheque_section .gererenciarContracheque-item:hover {
  background: #ffffff2d;
  cursor: default;
  transition: all 0.3s ease-in-out;
  box-shadow: 9px 9px 25px -11px rgba(0, 0, 0, 0.22);
}
#gererenciarContracheque_section .gererenciarContracheque-item strong {
  margin-left: 4px;
}
#gererenciarContracheque_section .gererenciarContracheque-item img {
  width: 25px;
  margin-right: 0.4em;
  cursor: pointer;
}

#editar_contracheque {
  filter: invert(58%) sepia(66%) saturate(373%) hue-rotate(71deg) brightness(97%) contrast(84%);
}

#excluir_contracheque {
  filter: invert(44%) sepia(62%) saturate(650%) hue-rotate(314deg) brightness(89%) contrast(91%);
}

#contrachequeAtivo {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #e1e1e1;
  border-radius: 6px;
  margin: 0 30px;
  padding: 4px 16px;
  font-size: 14px;
  text-align: center;
}
#contrachequeAtivo strong {
  margin-left: 4px;
}

#index-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 1em;
  justify-content: space-evenly;
  border-radius: 6px;
  border: 2px solid #e1e1e1;
  margin: 1em 0.7em;
  width: 98%;
  justify-content: flex-start;
  margin: 0 auto;
}

#index-main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 1em;
  justify-content: space-evenly;
  border-radius: 6px;
  border: 2px solid #e1e1e1;
  margin: 1em 0.7em;
}
#index-main p {
  text-align: justify;
}

.index-main-item {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.index-main-item span {
  font-size: 1.1em;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 80%;
}
.index-main-item a {
  align-items: center;
  background: #fff;
  border-radius: 6px;
  border: 2px dashed #e1e1e1;
  display: flex;
  flex-direction: column;
  height: 80%;
  justify-content: center;
  width: 80%;
}
.index-main-item img {
  transition: all 0.3s ease-in-out;
  width: 150px;
}
.index-main-item img:hover {
  transform: scale(1.2);
  transition: all 0.3s ease-in-out;
}

.btn_refresh {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0.3em 0.7em;
  border-radius: 6px;
  border: 2px solid #e1e1e1;
  background: #fff;
  cursor: pointer;
}
.btn_refresh img {
  transition: all 0.5s ease-in-out;
  margin-left: 0.5em;
}
.btn_refresh:hover img {
  transform: rotate(360deg);
  transition: all 0.5s ease-in-out;
  filter: invert(68%) sepia(31%) saturate(733%) hue-rotate(71deg) brightness(89%) contrast(84%);
}

.buscando_registros {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0.3em 0.7em;
  cursor: pointer;
}
.buscando_registros img {
  margin-left: 0.5em;
}

#ficha_auxiliar-head {
  display: flex;
  justify-content: space-between;
  width: 80%;
  position: relative;
  padding: 0.3em;
  max-width: 250mm;
  margin-bottom: 0.7em;
}
#ficha_auxiliar-head #ficha_auxiliar-voltar {
  height: 30px;
  font-size: 16px;
  width: 30px;
  border: 2px solid #e1e1e1;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  padding: 4px;
}
#ficha_auxiliar-head #ficha_auxiliar-voltar:hover {
  transform: scale(1.3);
  transition: all 0.3s ease-in-out;
}
#ficha_auxiliar-head #ficha_auxiliar-voltar img {
  width: 20px;
}
#ficha_auxiliar-head section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
#ficha_auxiliar-head section button {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #00000047;
  padding: 0.4em 0.9em;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
#ficha_auxiliar-head section button:hover {
  transition: all 0.3s ease-in-out;
  transform: scale(1.12);
}
#ficha_auxiliar-head section button img {
  margin-left: 0.3em;
  width: 18px;
}
#ficha_auxiliar-head section button:nth-child(1) {
  background: #5bc0de;
}
#ficha_auxiliar-head section button:nth-child(2) {
  background: #00ff0061;
  margin-left: 0.3em;
}

#gerar_contracheque-head {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media print {
  body * {
    visibility: hidden;
  }

  #ficha_auxilitar table {
    visibility: visible;
    position: fixed;
    left: 0;
    top: 0;
  }

  #ficha_auxilitar table {
    transform: none !important;
  }

  #ficha_auxilitar table * {
    visibility: visible;
  }

  #ficha_auxilitar input,
#ficha_auxilitar textarea#observacoes_receitas,
#ficha_auxilitar textarea#observacoes_descontos {
    border: none;
  }
}
@-webkit-keyframes moveLaptop {
  100% {
    transform: translateY(-3em);
  }
}
@keyframes moveLaptop {
  100% {
    transform: translateY(-3em);
  }
}
@-webkit-keyframes moveSmartphone {
  0% {
    transform: translateY(85px) translateX(50px);
  }
  100% {
    transform: translateY(130px) translateX(50px);
  }
}
@keyframes moveSmartphone {
  0% {
    transform: translateY(85px) translateX(50px);
  }
  100% {
    transform: translateY(130px) translateX(50px);
  }
}
@-webkit-keyframes moveShadow {
  100% {
    opacity: 35%;
  }
}
@keyframes moveShadow {
  100% {
    opacity: 35%;
  }
}
#welcome_container {
  background: linear-gradient(90deg, #181818 33%, #e1e1e1 33%);
  position: fixed;
  display: grid;
  flex-direction: column;
  grid-template-rows: 1fr 5fr;
  height: 100%;
  justify-content: center;
  left: 0;
  place-items: center;
  top: 0;
  width: 100%;
}
#welcome_container #menu-links {
  background: #181818;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(6, 1fr);
  justify-content: center;
  margin: 0;
  max-width: 1200px;
  padding: 0.7em;
  width: 85%;
  z-index: 50;
}
#welcome_container #menu-links span {
  list-style: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1em;
  border-right: 1px solid #5cb85c;
  margin: 0;
  position: relative;
}
#welcome_container #menu-links span a {
  text-decoration: none;
  color: #e1e1e1;
  transition: all 0.3s ease-in-out;
}
#welcome_container #menu-links span a:hover {
  color: #5cb85c;
  transition: all 0.3s ease-in-out;
}
#welcome_container #menu-links span:last-child {
  border-right: none;
}

#modal_index {
  position: fixed;
  top: 0;
  right: 0;
  background: #000000a1;
  width: 100%;
  height: 100%;
  z-index: 100;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  display: flex;
  justify-content: center;
  align-items: center;
}
#modal_index #modal_container {
  background: #fff;
  width: 70%;
  border-radius: 6px;
  position: relative;
  padding: 1em 3em 2em 3em;
  max-height: 700px;
  max-width: 900px;
  border: 2px solid #00000026;
}
#modal_index #modal_container .modal_item {
  overflow-y: scroll;
  max-height: 500px;
}
#modal_index #modal_container p.ampliar_img {
  text-align: center;
}
#modal_index #modal_container p.ampliar_img a {
  color: #000;
}
#modal_index #modal_container .data_lancamento {
  opacity: 25%;
  font-size: 12px;
}
#modal_index #modal_container .screenshot {
  border-radius: 6px;
  border: 2px solid #00000017;
  margin-left: 15%;
  width: 70%;
}
#modal_index #modal_container #contatos_sociais {
  margin-top: 1em;
}
#modal_index #modal_container #contatos_sociais img {
  margin: 0 0.2em;
  width: 20px;
}
#modal_index #modal_container #contatos_sociais img.github {
  transition: all 0.3s ease-in-out;
}
#modal_index #modal_container #contatos_sociais img.github:hover {
  transition: all 0.3s ease-in-out;
  filter: invert(67%) sepia(60%) saturate(3862%) hue-rotate(66deg) brightness(111%) contrast(118%);
}
#modal_index #modal_container #contatos_sociais img.linkedin {
  transition: all 0.3s ease-in-out;
}
#modal_index #modal_container #contatos_sociais img.linkedin:hover {
  transition: all 0.3s ease-in-out;
  filter: invert(29%) sepia(89%) saturate(1160%) hue-rotate(188deg) brightness(94%) contrast(105%);
}
#modal_index #modal_container img#x {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(40%, -40%);
  background: #fff;
  width: 30px;
  border-radius: 100%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
}
#modal_index #modal_container #link1 li.first-li {
  list-style-image: url("/svg/star.svg");
}
#modal_index #modal_container #link1 li.first-li li {
  list-style: circle;
}

#card {
  width: 80%;
  height: 350px;
  background: #e1e1e1;
  border-radius: 16px;
  border: 2px dashed #9f9f9f3b;
  display: grid;
  grid-template-columns: 5fr 1fr;
}

#laptop {
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
#laptop img#welcome_laptop,
#laptop img#welcome_smartphone,
#laptop img#welcome_smartphone_shadow,
#laptop img#welcome_laptop_shadow {
  position: absolute;
  top: -90px;
  left: -400px;
  width: 670px;
}
#laptop img#welcome_laptop_shadow {
  -webkit-animation: moveShadow 5s ease-in-out 0s infinite alternate;
          animation: moveShadow 5s ease-in-out 0s infinite alternate;
}
#laptop img#welcome_laptop {
  -webkit-animation: moveLaptop 5s ease-in-out 0s infinite alternate;
          animation: moveLaptop 5s ease-in-out 0s infinite alternate;
  z-index: 1;
}
#laptop img#welcome_smartphone {
  animation: moveSmartphone 3s ease-in-out 0s infinite alternate-reverse;
  z-index: 1;
  width: 200px;
  filter: drop-shadow(8px 20px 10px #00000030);
}
#laptop img#welcome_smartphone_shadow {
  display: none;
  animation: moveShadow 3s ease-in-out 0s infinite alternate-reverse;
  z-index: 1;
  width: 200px;
  transform: translateY(130px) translateX(50px);
}

#text_area {
  width: 60%;
  height: 100%;
  padding: 0.3em 0em 1em 2em;
  position: relative;
}
#text_area img {
  width: 56px;
}
#text_area h1 {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: "Dancing Script", cursive;
  font-size: 56px;
  font-weight: bold;
}
#text_area p {
  font-size: 18px;
}
#text_area a {
  text-decoration: none;
  background: #5cb85c;
  padding: 1em 2em;
  border-radius: 6px;
  position: absolute;
  color: #000000;
  bottom: -20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border: 2px dotted #00000047;
  transition: all 0.3s ease-in-out;
}
#text_area a:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
  filter: brightness(110%);
}
#text_area #br {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
#text_area #br b:nth-child(1) {
  color: #30983a;
}
#text_area #br b:nth-child(2) {
  color: #f7d802;
}

#welcome_footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 8px;
  flex-wrap: wrap;
}
#welcome_footer a {
  color: #e1e1e1;
  margin-left: 10px;
  text-decoration: none;
  opacity: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
#welcome_footer a:hover {
  opacity: 1;
  transition: all 0.3s ease-in-out;
}
#welcome_footer a img {
  width: 25px;
  margin-right: 6px;
}
#welcome_footer #copyrigth {
  opacity: 50%;
  cursor: default;
  transition: all 0.3s ease-in-out;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#welcome_footer #copyrigth:hover {
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

#form_informacoes_indisponiveis .question_root {
  width: 90%;
}

#form_informacoes_indisponiveis_form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
#form_informacoes_indisponiveis_form h3 {
  margin-bottom: 3em;
  text-align: center;
}
#form_informacoes_indisponiveis_form #naodisponiveis_headtable {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#form_informacoes_indisponiveis_form .naoDisp-linha {
  justify-content: center;
  padding: 7px 10px;
  margin: 15px 10px;
  border: 2px solid #00000017;
  display: grid;
  grid-template: "descricao valor bt_excluir" "tipo tributavel_container bt_excluir"/1fr 1fr 40px;
  gap: 5px;
  place-items: center;
  transition: all 0.3s ease-in-out;
  border-radius: 6px;
}
#form_informacoes_indisponiveis_form .naoDisp-linha:hover {
  transition: all 0.3s ease-in-out;
  background: #e1e1e130;
}
#form_informacoes_indisponiveis_form .naoDisp-linha .naoDisp-descricao {
  grid-area: descricao;
}
#form_informacoes_indisponiveis_form .naoDisp-linha .naoDisp-valor {
  grid-area: valor;
}
#form_informacoes_indisponiveis_form .naoDisp-linha .naoDisp-tipo {
  grid-area: tipo;
}
#form_informacoes_indisponiveis_form .naoDisp-linha .naoDisp-tributavel_container {
  grid-area: tributavel_container;
}
#form_informacoes_indisponiveis_form .naoDisp-linha .naoDisp-bt_excluir {
  cursor: pointer;
  grid-area: bt_excluir;
}
#form_informacoes_indisponiveis_form .naoDisp-linha .naoDisp-bt_excluir img {
  width: 40px;
}
#form_informacoes_indisponiveis_form .naoDisp-item {
  align-items: center;
  background: #f1f1f1;
  border-radius: 6px;
  border: 1px solid #dfdfdf;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: flex-start;
  padding: 4px 8px;
}
#form_informacoes_indisponiveis_form .naoDisp-item:nth-child(5) {
  justify-content: center;
}
#form_informacoes_indisponiveis_form .naoDisp-item:nth-child(5) span {
  display: none;
}
#form_informacoes_indisponiveis_form input[type=text],
#form_informacoes_indisponiveis_form input[type=number] {
  border: 1px solid #e1e1e1;
  border-radius: 6px;
  height: 26px;
  width: 100%;
  padding-left: 8px;
}
#form_informacoes_indisponiveis_form .tributavel_container {
  border: 1px solid #e1e1e1;
  border-radius: 6px;
  height: 26px;
}
#form_informacoes_indisponiveis_form #plus_container {
  align-items: center;
  background: #5cb85c;
  border-radius: 6px;
  border: 2px solid #181818;
  bottom: 0;
  display: flex;
  justify-content: center;
  padding: 8px;
  right: 50%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  transform: translateY(-25px);
}
#form_informacoes_indisponiveis_form #plus_container:hover {
  transform: scale(1.1) translateY(-25px);
  transition: all 0.3s ease-in-out;
}
#form_informacoes_indisponiveis_form #plus_container img {
  width: 20px;
}

.perfil_container form {
  padding-left: 1.2em;
  width: calc(100% - 1.2em);
}

.perfil_input {
  width: 100%;
  background: #fff;
  display: flex;
  align-items: center;
  border-radius: 6px;
  padding: 7px 10px;
  border: 1px solid #e1e1e1;
  margin: 10px 0;
  transition: all 0.3s ease-in-out;
}
.perfil_input:hover {
  transition: all 0.3s ease-in-out;
  box-shadow: 5px 7px 10px -5px #a4a6ad41;
  transform: scale(1.02);
}

.perfil_container input {
  flex: 1;
  border-radius: 6px;
  height: 28px;
  border: 1px solid #c5c5c5;
  padding: 8px;
}

#perfil_aviso {
  padding: 0 36px;
  margin-top: 12px;
  font-size: 12px;
  text-align: center;
}

.alert-success,
.invalid-feedback {
  background: #5cb85c;
  padding: 4px 12px;
  border-radius: 6px;
}

.invalid-feedback {
  background: #f0ad4e;
  width: 90%;
  margin-top: 12px;
}

.link-reset_password {
  width: 90%;
  text-align: right;
  font-size: 12px;
}

.button_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

#app_version {
  position: fixed;
  bottom: -2px;
  right: 16px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 10px;
  padding: 9px 2px;
  border-bottom-right-radius: 6px;
  border: 1px solid #c5c5c5;
  border-top: none;
  border-left: none;
  color: #00000050;
  background: #f1f4fb;
  -ms-writing-mode: tb-lr;
      writing-mode: vertical-lr;
  transform: rotate(180deg);
  transition: color 0.3s ease-in-out;
}
#app_version:hover {
  transition: color 0.3s ease-in-out;
  color: #181818;
}

@media (max-width: 1200px) {
  #text_area h1 {
    margin: 18px 0;
  }

  #laptop {
    transform: scale(0.8);
  }

  #welcome_container #menu-links {
    grid-template-columns: repeat(3, 1fr);
  }
  #welcome_container #menu-links span:nth-child(1),
#welcome_container #menu-links span:nth-child(2),
#welcome_container #menu-links span:nth-child(3) {
    border-bottom: 1px solid #5cb85c;
  }
  #welcome_container #menu-links span:nth-child(3) {
    border-right: none;
  }
  #welcome_container #menu-links span {
    padding: 8px 1em;
  }

  #form_informacoes_indisponiveis_form .naoDisp-linha {
    grid-template: "descricao  valor" "tipo       tributavel_container" "bt_excluir bt_excluir"/1fr 1fr !important;
  }
  #form_informacoes_indisponiveis_form .naoDisp-linha .naoDisp-bt_excluir img {
    width: 20px;
  }
  #form_informacoes_indisponiveis_form .naoDisp-item {
    justify-content: flex-start;
    width: 100%;
  }
  #form_informacoes_indisponiveis_form .naoDisp-item:nth-child(5) {
    justify-content: center;
    border: 1px solid #d9534f;
    border-radius: 6px;
    background-color: #fdefef;
    width: 50%;
    margin: 6px 0;
    padding: 0px 10px;
    cursor: pointer;
  }
  #form_informacoes_indisponiveis_form .naoDisp-item:nth-child(5) span {
    display: inline !important;
    margin-right: 6px;
  }
}
@media (max-width: 1000px) {
  #ficha_auxilitar table {
    transform: scale(0.85) translateY(-8%);
  }
}
@media (max-width: 800px) {
  #card {
    height: 280px;
  }

  #laptop {
    transform: scale(0.7);
  }

  #text_area {
    width: 50%;
  }
  #text_area h1 {
    font-size: 42px;
  }
  #text_area p {
    font-size: 12px;
  }

  aside#sidebar {
    z-index: 50;
    position: fixed;
    height: 100%;
  }

  #contrachequeAtivo {
    flex-direction: column;
    margin: 12px 0;
    width: auto;
    padding: 10px;
  }
  #contrachequeAtivo label {
    margin-bottom: 12px;
    text-align: center;
  }
  #contrachequeAtivo input {
    text-align: center;
  }

  .question_root {
    width: 100% !important;
  }

  #form_informacoes_financeiras #form_informacoes_financeiras_col1,
#form_informacoes_financeiras #form_informacoes_financeiras_col2 {
    width: 100% !important;
  }

  select {
    width: 100%;
  }

  #gerenciar_formulario {
    padding-top: 12px;
    position: fixed;
    border-top: 2px solid #e0e1e5;
    right: 0em !important;
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.384);
    -webkit-backdrop-filter: blur(3px);
            backdrop-filter: blur(3px);
    width: 100%;
    bottom: 0 !important;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  #gerenciar_formulario > * {
    margin-right: 0em !important;
  }
  #gerenciar_formulario a {
    width: 60%;
    text-align: center;
    margin-bottom: 8px;
  }

  #form_informacoes_indisponiveis {
    margin-bottom: 115px !important;
  }

  #input_area-data_assinatura_cc {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    height: auto;
    padding: 10px 0.7em;
  }
  #input_area-data_assinatura_cc label {
    text-align: center;
  }
  #input_area-data_assinatura_cc button {
    margin: 0;
  }
  #input_area-data_assinatura_cc input[type=date] {
    margin: 10px 0;
  }

  #gererenciarContracheque_section .gererenciarContracheque-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: auto;
  }
  #gererenciarContracheque_section .gererenciarContracheque-botoes {
    width: 100%;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
  }
  #gererenciarContracheque_section .btn_area_gc {
    display: flex;
    align-items: center;
    margin: 0 10px;
  }
  #gererenciarContracheque_section .gererenciarContracheque-botoes {
    margin: 10px 0 2px 0;
  }

  .perfil_input {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .perfil_input input {
    width: 90%;
    text-align: center;
  }

  .legislacao_item {
    width: 100%;
  }

  #legenda section {
    width: 100%;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
  }
  #legenda section div {
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    padding: 0 18px;
    margin: 3px 0 !important;
  }

  #ficha_auxiliar-head {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #ficha_auxilitar table {
    transform: scale(0.5) translateY(-50%);
  }

  #welcome_footer {
    justify-content: center;
    flex-direction: column;
    background: #181818;
  }
  #welcome_footer a {
    margin: 3px 0 11px 0;
  }
  #welcome_footer #copyrigth {
    color: #e1e1e1;
    margin-bottom: 5px;
  }

  .auth_form-body form fieldset {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 600px) {
  #modal_container {
    font-size: 0.8em;
  }

  #welcome_container {
    grid-template-rows: 2fr 8fr;
  }

  #text_area {
    width: 100%;
  }

  #laptop {
    display: none;
  }

  #card {
    margin-bottom: 4em;
  }

  #welcome_container #menu-links {
    margin-top: 1em;
    grid-template-columns: repeat(2, 1fr);
  }
  #welcome_container #menu-links span:nth-child(1),
#welcome_container #menu-links span:nth-child(2),
#welcome_container #menu-links span:nth-child(3),
#welcome_container #menu-links span:nth-child(4) {
    border-bottom: 1px solid #5cb85c;
  }
  #welcome_container #menu-links span:nth-child(2),
#welcome_container #menu-links span:nth-child(4) {
    border-right: none;
  }
  #welcome_container #menu-links span {
    padding: 8px 1em;
  }

  #ficha_auxilitar table {
    transform: scale(0.35) translateY(-90%);
  }

  #form_informacoes_indisponiveis_form .naoDisp-linha {
    grid-template: "descricao" "valor" "tipo" "tributavel_container" "bt_excluir"/1fr !important;
  }
  #form_informacoes_indisponiveis_form .naoDisp-linha .naoDisp-bt_excluir img {
    width: 20px;
  }
}
@media (max-width: 400px) {
  aside#sidebar {
    width: 280px;
  }

  #ficha_auxilitar table {
    transform: scale(0.37) translateY(-85%);
  }
}
