@-webkit-keyframes setaParaFechar {
  0% {
    margin-left: 8px;
  }
  100% {
    margin-left: 14px;
  }
}
@keyframes setaParaFechar {
  0% {
    margin-left: 8px;
  }
  100% {
    margin-left: 14px;
  }
}
.erro {
  background: #d9534f;
}

.success {
  background: #5cb85c;
}

* {
  box-sizing: border-box;
}

body,
#root,
#app,
#home {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  height: 100vh;
}

#home {
  display: flex;
}

main {
  background: #f1f4fb;
  height: 100vh;
  overflow-y: scroll;
  width: 100%;
  padding: 1em 0;
  position: relative;
}

#main_header {
  transform: translateY(-30px);
}

#saudacao {
  align-items: center;
  display: flex;
  height: 50px;
  justify-content: flex-end;
  padding: 0 1em;
  width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
#saudacao > span > span {
  text-decoration: underline;
}
#saudacao a {
  text-transform: uppercase;
}
#saudacao #btn_logout {
  border-radius: 6px;
  padding: 0.2em 0.9em;
  border: 2px solid rgba(255, 255, 255, 0);
  transition: border 0.3s;
}
#saudacao #btn_logout:hover {
  border: 2px solid #181818;
  transition: border 0.3s;
}
#saudacao a {
  color: #181818;
  text-decoration: none;
}

#btn_hide_sibdebar {
  background: white;
  position: -webkit-sticky;
  position: sticky;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  height: 32px;
  width: 38px;
  left: -23px;
  top: 10px;
  z-index: 80;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
#btn_hide_sibdebar img {
  margin-left: 8px;
  width: 24px;
  margin-right: 3px;
  transition: all 0.5s ease-in-out;
}

.reverse {
  transform: rotate(180deg);
  transition: all 0.5s ease-in-out;
}

aside#sidebar {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  align-items: center;
  background: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 2em 1em;
  position: relative;
  width: 360px;
}

.logo {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.logo img {
  width: 120px;
}
.logo span {
  color: #b7bec6;
  font-size: 12px;
  font-weight: bold;
  margin-top: 2px;
  text-transform: uppercase;
}
.logo span strong {
  color: #181818;
}

nav {
  width: 100%;
  margin-top: 1em;
}
nav .navbutton_item {
  position: absolute;
  top: 40px;
  right: 0;
  z-index: 5;
  background: aqua;
  padding: 0.5em 1em;
}
nav .navbutton {
  position: relative;
  border: 2px solid rgba(0, 0, 0, 0);
  margin: 1em 0;
  border-radius: 6px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 10px 0;
  text-decoration: none;
  color: #181818;
  transition: all 0.3s;
}
nav .navbutton:hover {
  border: 2px solid black;
  box-shadow: 0px 0px 13px 2px #d8d8d881;
  transition: all 0.3s;
}
nav .navbutton.router-link-exact-active {
  background: #181818;
  color: #e1e1e1;
}
nav .navbutton.router-link-exact-active img {
  filter: invert(100%);
}
nav .navbutton img {
  width: 18px;
  margin: 0 16px;
}
nav .navbutton span {
  font-size: 14px;
  font-feature-settings: "lnum";
  line-height: 18px;
}

#sugestoes_contaneir {
  display: flex;
  position: absolute;
  bottom: 1em;
  width: 90%;
  transition: all 0.3s;
}
#sugestoes_contaneir #sugestoes {
  margin-top: 2em;
  background: #f1f4fb;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 6px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  align-self: flex-end;
}
#sugestoes_contaneir #sugestoes #lampada {
  background: #f1f4fb;
  border-radius: 100%;
  margin-top: -16px;
}
#sugestoes_contaneir #sugestoes img {
  width: 18px;
  padding: 12px;
  box-sizing: content-box;
  height: 18px;
  transition: transform 0.5s, filter 0.5s;
  cursor: pointer;
  filter: invert(51%) sepia(67%) saturate(2804%) hue-rotate(346deg) brightness(96%) contrast(100%);
}
#sugestoes_contaneir #sugestoes img:hover {
  transform: scale(1.15);
  filter: none;
  transition: transform 0.5s, filter 0.5s;
}
#sugestoes_contaneir #sugestoes p,
#sugestoes_contaneir #sugestoes span {
  text-align: center;
  color: #181818;
  margin: 0;
}
#sugestoes_contaneir #sugestoes p {
  font-size: 12px;
  line-height: 24px;
  padding: 1em;
  height: 150px;
}
#sugestoes_contaneir #sugestoes h5 {
  font-size: 14px;
  color: #18181880;
  margin: 0 0 1em 0;
}
#sugestoes_contaneir #sugestoes a {
  display: block;
  border: 1px solid #18181880;
  margin-top: 6px;
  background: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  color: #18181880;
  font-weight: bold;
  border-radius: 6px;
  transition: color 0.3s, border 0.3s;
}
#sugestoes_contaneir #sugestoes a:hover {
  color: #181818;
  border: 1px solid #181818;
  transition: color 0.3s, border 0.3s;
}

form#formulario {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

#form_informacoes_pessoais,
#form_informacoes_indisponiveis,
#form_informacoes_financeiras {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 1em;
  justify-content: space-evenly;
  border-radius: 6px;
  border: 2px solid #e1e1e1;
  margin: 1em 0.7em;
}
#form_informacoes_pessoais h2,
#form_informacoes_indisponiveis h2,
#form_informacoes_financeiras h2 {
  width: 100%;
  text-align: center;
  margin: 0 0 0.6em 0;
  background: #181818;
  border-radius: 6px;
  color: #fff;
  padding: 6px;
  cursor: default;
  border: 2px solid #c5c5c5;
}

#form_informacoes_pessoais .question_root {
  width: 47%;
  margin: 2em 0;
}

#form_informacoes_financeiras .question_root {
  width: 99%;
  margin: 2em 0;
}
#form_informacoes_financeiras #form_informacoes_financeiras_col1,
#form_informacoes_financeiras #form_informacoes_financeiras_col2 {
  width: 48%;
}

.question_root {
  width: 48%;
  border-radius: 6px;
  font-size: 14px;
  border: 2px solid #d8d8d86b;
  background-color: #ffffff;
  margin: 0.7em 0.7em;
  transition: box-shadow 0.3s;
  position: relative;
}
.question_root:hover {
  box-shadow: 9px 9px 25px -11px rgba(0, 0, 0, 0.22);
  transition: box-shadow 0.3s;
  cursor: default;
}
.question_root legend {
  border-radius: 6px;
  border: 2px solid #fff;
  background: #f1f4fb;
  color: #181818;
  padding: 3px 1em;
  cursor: default;
}
.question_root .ajuda_container {
  position: absolute;
  background: #f1f4fb;
  border-radius: 100%;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #fff;
  right: -11px;
  top: -18px;
  cursor: help;
}
.question_root .ajuda_container:hover .ajuda_texto {
  opacity: 1;
  transition: all 0.3s;
  box-shadow: 11px 13px 14px -8px #00000070;
  visibility: visible;
}
.question_root .ajuda_container .ajuda_texto {
  background: #000000d6;
  border-radius: 6px;
  border: 2px solid #3a3a3a;
  opacity: 0;
  padding: 0px 9px;
  position: absolute;
  right: 25px;
  top: -33px;
  transition: all 0.3s;
  visibility: hidden;
  width: 317px;
  z-index: 2;
}
.question_root .ajuda_container .ajuda_texto p {
  font-size: 10px;
  color: #fff;
  text-align: justify;
  text-indent: 2em;
}
.question_root .ajuda_container img {
  transition: filter 1s;
}
.question_root .ajuda_container img:hover {
  filter: invert(71%) sepia(79%) saturate(5386%) hue-rotate(167deg) brightness(102%) contrast(97%);
  transition: filter 1s;
}
.question_root .ajuda_container a {
  text-decoration: none;
  color: #6ae79c;
  transition: all 0.3s;
}
.question_root .ajuda_container a:hover {
  color: #f1f4fb;
  text-decoration: underline;
  transition: all 0.3s;
}

.onde_pesquisar {
  background: #00ff7320;
  border-radius: 6px;
  padding: 1em 0;
  margin-top: 0.5em;
}
.onde_pesquisar ul {
  margin: 5px 0 0 0;
  list-style: square;
}

.question_body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px dashed rgba(218, 218, 218, 0.699);
  padding: 8px 12px;
  border-radius: 6px;
  margin: 2px 0;
}
.question_body .question_title {
  align-self: flex-start;
}
.question_body select,
.question_body input {
  border: 1px solid #c5c5c5;
  border-radius: 6px;
  background: #f2eefd;
  padding: 4px 10px;
}

#ficha_auxilitar {
  padding: 1em;
  background: #f1f4fb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
#ficha_auxilitar table {
  background: #fff;
  width: 250mm;
  border-radius: 6px;
  padding: 0 0.5em;
}
#ficha_auxilitar input {
  border: none;
  height: 20px;
  background: none;
  outline: none;
  border: 1px dashed #1818184a;
  font-size: 16px;
}
#ficha_auxilitar input:focus {
  outline: none;
}
#ficha_auxilitar input#nome {
  width: 100%;
}
#ficha_auxilitar tr {
  height: 20px;
}
#ficha_auxilitar td.td_calculos {
  border: 1px solid #363636;
  text-align: center;
}
#ficha_auxilitar td.td_calculos.valor {
  text-align: right;
}
#ficha_auxilitar td.td_calculos.valor input {
  text-align: right;
  width: 100%;
}
#ficha_auxilitar td.td_calculos.rubrica {
  text-align: left;
  padding-left: 1em;
}
#ficha_auxilitar td.td_calculos p {
  margin: 2px 0;
}
#ficha_auxilitar td.valor_contracheque {
  width: 10px;
}
#ficha_auxilitar td.td_assinatura {
  border: 1px solid white;
  text-align: center;
}
#ficha_auxilitar td.td_assinatura.fc_footer p {
  margin-top: 1em;
}
#ficha_auxilitar td.td_assinatura p {
  margin: 0;
}
#ficha_auxilitar td.td_cabecalho {
  padding: 0 0.5em;
  text-align: left;
}
#ficha_auxilitar td.td_cabecalho.pg_abrev, #ficha_auxilitar td.td_cabecalho.mes_info {
  text-align: left;
}
#ficha_auxilitar td.td_cabecalho.pg, #ficha_auxilitar td.td_cabecalho.mes {
  text-align: right;
}
#ficha_auxilitar td.td_cabecalho p {
  margin: 3px 0;
}
#ficha_auxilitar td.obs {
  position: relative;
}
#ficha_auxilitar td.obs p {
  position: absolute;
  top: 0;
  margin: 1em 50% 0 50%;
  transform: translateX(-50%);
}
#ficha_auxilitar textarea {
  width: 100%;
  height: 100%;
  resize: vertical;
  border: 1px dashed #1818184a;
  background: none;
  font-size: 16px;
}
#ficha_auxilitar textarea:focus {
  outline: none;
}

#gerenciar_formulario {
  position: fixed;
  right: 2em;
  display: flex;
  bottom: 1em;
}
#gerenciar_formulario > * {
  padding: 0 1em;
  margin-right: 1em;
}
#gerenciar_formulario img {
  margin-right: 10px;
}
#gerenciar_formulario img#icon_paper-fold {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
}

.btn_gerar {
  align-items: center;
  background: #181818;
  border-radius: 6px;
  border: 2px solid #c5c5c5;
  box-shadow: 0px 0px 36px -13px rgba(0, 0, 0, 0.863);
  cursor: pointer;
  display: flex;
  height: 40px;
  text-decoration: none;
  transition: all 1s;
}
.btn_gerar.resetar {
  right: calc(2em + 280px + 1em);
  background: #f0d24e;
  width: auto;
  padding: 0 1em;
}
.btn_gerar span {
  color: #e1e1e1;
}

.btn_gerar:hover {
  background: #000;
  transition: all 1s;
  border: 2px solid #000;
  transform: scale(1.1);
}
.btn_gerar:hover.resetar {
  background: #f0ad4e;
}

.icon_loading {
  filter: invert(100);
  width: 40px;
}

.login_view {
  background: #d2d2d2;
  background: linear-gradient(49deg, #d2d2d2 0%, white 45%);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.login_container {
  margin-top: 2em;
  background: #181818;
  padding: 3em 2em;
  width: 500px;
  height: 320px;
  border-radius: 6px;
  box-shadow: 15px 16px 31px -15px #848484;
}

.login_header {
  text-align: center;
  color: #f1f4fb;
  margin-bottom: 1em;
  font-size: 2em;
}

.login_body {
  width: 100%;
}
.login_body form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.login_body form button[type=submit] {
  width: 33%;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  background-color: #181818;
  border: 2px solid greenyellow;
  border-radius: 6px;
  height: 35px;
  margin-top: 1em;
  text-transform: uppercase;
  transition: 0.3s transform ease-in-out;
}
.login_body form button[type=submit]:hover {
  transform: scale(1.3);
  transition: 0.3s transform ease-in-out;
}

img.login_logo {
  width: 250px;
  margin-bottom: 3em;
}

.login_inputarea {
  display: flex;
  width: 100%;
  margin-bottom: 1.2em;
  position: relative;
}
.login_inputarea #iconeeye {
  position: absolute;
  right: 8px;
  top: 2px;
  cursor: pointer;
  width: 25px;
}
.login_inputarea label {
  color: #f1f4fb;
}
.login_inputarea input {
  border-radius: 6px;
  border: 2px solid #000;
  flex: 1;
  margin-left: 1em;
  height: 30px;
  text-indent: 1em;
}
.login_inputarea input:active, .login_inputarea input:focus {
  outline: none;
}

.perfil_container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 1em;
  justify-content: space-evenly;
  border-radius: 6px;
  border: 2px solid #e1e1e1;
  margin: 1em 0.7em;
  flex-direction: column;
  width: 98%;
  margin: 0 auto;
}
.perfil_container li {
  list-style: circle;
}
.perfil_container h2 {
  width: 100%;
  text-align: center;
  margin: 0 0 0.6em 0;
  background: #181818;
  border-radius: 6px;
  color: #fff;
  padding: 6px;
  cursor: default;
  border: 2px solid #c5c5c5;
}

#btn_sair {
  align-items: center;
  align-self: center;
  border-bottom: 2px solid #d9534f;
  color: #181818;
  display: flex;
  justify-content: center;
  justify-self: center;
  margin-left: 1em;
  padding: 2px 7px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
#btn_sair:hover {
  transform: scale(1.2);
  transition: all 0.3s ease-in-out;
}

#modalRespostaBD {
  align-items: center;
  border-radius: 6px;
  border: 2px dashed #ffffff4a;
  box-shadow: 11px 9px 35px -10px #5d5c5e;
  display: flex;
  justify-content: center;
  position: fixed;
  text-align: center;
  top: 2em;
}
#modalRespostaBD #modalRespostaBD_container {
  padding: 0 1em;
  position: relative;
  width: 100%;
}
#modalRespostaBD #modalRespostaBD_container span {
  position: absolute;
  cursor: pointer;
  align-items: center;
  background: #ffffff;
  border-radius: 100%;
  border: 1px solid red;
  color: red;
  display: flex;
  height: 24px;
  justify-content: center;
  right: -12px;
  text-align: center;
  top: -12px;
  width: 24px;
}
#modalRespostaBD strong {
  border: 1px solid black;
  padding: 0px 4px;
}

#legislacao_container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 1em;
  justify-content: space-evenly;
  border-radius: 6px;
  border: 2px solid #e1e1e1;
  margin: 1em 0.7em;
  width: 98%;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
}

#legislacao_header {
  width: 100%;
  text-align: center;
  margin: 0 0 0.6em 0;
  background: #181818;
  border-radius: 6px;
  color: #fff;
  padding: 6px;
  cursor: default;
  border: 2px solid #c5c5c5;
}

#legislacao_body {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#legenda {
  width: 80%;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  margin: 1em 0;
  border: 2px solid #e1e1e1;
  padding: 0.4em 0;
  background-color: #fff;
}
#legenda section {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#legenda section > div {
  display: flex;
}
#legenda section > div > div {
  border: 2px solid #e1e1e1;
  background: #fff;
  border-radius: 6px;
  padding: 1px 5px;
  margin-left: 1em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
#legenda section #item1 {
  border-left: 2px solid #5cb85c;
}
#legenda section #item2 {
  border-left: 2px solid #d9534f;
}
#legenda section #item3 {
  border-left: 2px solid #0275d8;
}

.legislacao_item {
  width: 40%;
  padding: 1em 2em;
  height: 70px;
  border-radius: 6px;
  font-size: 14px;
  border: 2px solid #d8d8d86b;
  background-color: #ffffff;
  margin: 0.7em 0.7em;
  transition: box-shadow 0.3s;
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  -webkit-text-decoration: underline solid rgba(168, 168, 168, 0.555);
          text-decoration: underline solid rgba(168, 168, 168, 0.555);
  color: #181818;
  transition: all 0.5s ease-in-out;
}
.legislacao_item:hover {
  text-decoration: underline;
  transition: all 0.5s ease-in-out;
}

.legislacao_item-receitas {
  border-left: 2px solid #5cb85c;
}

.legislacao_item-descontos {
  border-left: 2px solid #d9534f;
}

.legislacao_item-leis {
  border-left: 2px solid #0275d8;
}

#gererenciarContracheque_body {
  width: 100%;
}

#gererenciarContracheque_container,
#gererenciarContracheque_container2 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 1em;
  justify-content: space-evenly;
  border-radius: 6px;
  border: 2px solid #e1e1e1;
  margin: 1em 0.7em;
  flex-direction: column;
  width: 98%;
}
#gererenciarContracheque_container h2,
#gererenciarContracheque_container2 h2 {
  width: 100%;
  text-align: center;
  margin: 0 0 0.6em 0;
  background: #181818;
  border-radius: 6px;
  color: #fff;
  padding: 6px;
  cursor: default;
  border: 2px solid #c5c5c5;
}

#input_area-data_assinatura_cc {
  display: flex;
  flex-direction: row;
  padding: 0.3em 1em;
  align-items: center;
  background: #fff;
  border-radius: 6px;
  border: 2px dashed #e1e1e1;
  display: flex;
  height: 50px;
  margin-bottom: 1em;
  padding: 0.3em 0.7em;
  transition: all 0.3s ease-in-out;
  margin: 0 1.2em;
}
#input_area-data_assinatura_cc button {
  margin-left: 2em;
  border-radius: 6px;
  background: #5cb85c;
  border: 2px solid #00000047;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
  padding: 0.2em 0.8em;
  display: flex;
  width: 100px;
  align-items: center;
  justify-content: center;
}
#input_area-data_assinatura_cc button:hover {
  transform: scale(1.2);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

label {
  margin-right: 0.5em;
}

#data_assinatura_cc {
  border-radius: 6px;
  width: 150px;
}

#gererenciarContracheque_section {
  padding-left: 1.2em;
  width: calc(100% - 1.2em);
}
#gererenciarContracheque_section .gererenciarContracheque-botoes {
  height: auto;
}
#gererenciarContracheque_section .gererenciarContracheque-item {
  align-items: center;
  background: #fff;
  border-radius: 6px;
  border: 2px dashed #e1e1e1;
  height: 50px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  margin-bottom: 1em;
  padding: 0.3em 0.7em;
  transition: all 0.3s ease-in-out;
}
#gererenciarContracheque_section .gererenciarContracheque-item > * {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#gererenciarContracheque_section .gererenciarContracheque-item > div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#gererenciarContracheque_section .gererenciarContracheque-item:hover {
  background: #ffffff2d;
  cursor: default;
  transition: all 0.3s ease-in-out;
  box-shadow: 9px 9px 25px -11px rgba(0, 0, 0, 0.22);
}
#gererenciarContracheque_section .gererenciarContracheque-item strong {
  margin-left: 4px;
}
#gererenciarContracheque_section .gererenciarContracheque-item img {
  width: 25px;
  margin-right: 0.4em;
  cursor: pointer;
}

#editar_contracheque {
  filter: invert(58%) sepia(66%) saturate(373%) hue-rotate(71deg) brightness(97%) contrast(84%);
}

#excluir_contracheque {
  filter: invert(44%) sepia(62%) saturate(650%) hue-rotate(314deg) brightness(89%) contrast(91%);
}

#contrachequeAtivo {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#contrachequeAtivo input {
  margin-left: 0.5em;
}

#index-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 1em;
  justify-content: space-evenly;
  border-radius: 6px;
  border: 2px solid #e1e1e1;
  margin: 1em 0.7em;
  width: 98%;
  justify-content: flex-start;
  margin: 0 auto;
}

#index-main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 1em;
  justify-content: space-evenly;
  border-radius: 6px;
  border: 2px solid #e1e1e1;
  margin: 1em 0.7em;
}
#index-main p {
  text-align: justify;
}

.index-main-item {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.index-main-item span {
  font-size: 1.1em;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 80%;
}
.index-main-item a {
  align-items: center;
  background: #fff;
  border-radius: 6px;
  border: 2px dashed #e1e1e1;
  display: flex;
  flex-direction: column;
  height: 80%;
  justify-content: center;
  width: 80%;
}
.index-main-item img {
  transition: all 0.3s ease-in-out;
  width: 150px;
}
.index-main-item img:hover {
  transform: scale(1.2);
  transition: all 0.3s ease-in-out;
}

.btn_refresh {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0.3em 0.7em;
  border-radius: 6px;
  border: 2px solid #e1e1e1;
  background: #fff;
  cursor: pointer;
}
.btn_refresh img {
  transition: all 0.5s ease-in-out;
  margin-left: 0.5em;
}
.btn_refresh:hover img {
  transform: rotate(360deg);
  transition: all 0.5s ease-in-out;
  filter: invert(68%) sepia(31%) saturate(733%) hue-rotate(71deg) brightness(89%) contrast(84%);
}

.buscando_registros {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0.3em 0.7em;
  cursor: pointer;
}
.buscando_registros img {
  margin-left: 0.5em;
}

#ficha_auxiliar-head {
  display: flex;
  justify-content: space-between;
  width: 80%;
  position: relative;
  border: 2px solid #e1e1e1;
  border-radius: 6px;
  padding: 0.3em;
  margin-bottom: 0.7em;
}
#ficha_auxiliar-head #ficha_auxiliar-voltar {
  position: absolute;
  height: 30px;
  font-size: 16px;
  width: 30px;
  border: 2px solid #e1e1e1;
  border-radius: 6px;
  display: flex;
  left: -70px;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
#ficha_auxiliar-head #ficha_auxiliar-voltar:hover {
  transform: scale(1.3);
  transition: all 0.3s ease-in-out;
}
#ficha_auxiliar-head #ficha_auxiliar-voltar img {
  width: 20px;
}
#ficha_auxiliar-head section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
#ficha_auxiliar-head section button {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #00000047;
  padding: 0.4em 0.9em;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
#ficha_auxiliar-head section button:hover {
  transition: all 0.3s ease-in-out;
  transform: scale(1.12);
}
#ficha_auxiliar-head section button img {
  margin-left: 0.3em;
  width: 18px;
}
#ficha_auxiliar-head section button:nth-child(1) {
  background: #5bc0de;
}
#ficha_auxiliar-head section button:nth-child(2) {
  background: #5cb85c;
  margin-left: 0.3em;
}

#gerar_contracheque-head {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#gerar_contracheque-head div {
  border: 2px solid #e1e1e1;
  border-radius: 6px;
  padding: 0.3em;
}

@media print {
  body * {
    visibility: hidden;
  }

  #ficha_auxilitar table {
    visibility: visible;
    position: fixed;
    left: 0;
    top: 0;
  }

  #ficha_auxilitar table * {
    visibility: visible;
  }

  #ficha_auxilitar input,
#ficha_auxilitar textarea#observacoes_receitas,
#ficha_auxilitar textarea#observacoes_descontos {
    border: none;
  }
}
@-webkit-keyframes moveLaptop {
  100% {
    transform: translateY(-3em);
  }
}
@keyframes moveLaptop {
  100% {
    transform: translateY(-3em);
  }
}
@-webkit-keyframes moveShadow {
  100% {
    opacity: 35%;
  }
}
@keyframes moveShadow {
  100% {
    opacity: 35%;
  }
}
#wellcome_sidebar {
  background: #181818;
  position: absolute;
  width: 33%;
  display: flex;
  height: 100%;
}
#wellcome_sidebar #dev {
  position: relative;
  width: 100%;
  height: 100%;
}
#wellcome_sidebar #dev .sidebar-footer {
  opacity: 50%;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 1;
  padding: 0.3em 0.6em;
  color: #e1e1e1;
  font-size: 12px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
#wellcome_sidebar #dev .sidebar-footer:hover {
  opacity: 1;
  transition: all 0.3s ease-in-out;
}
#wellcome_sidebar #dev .sidebar-footer img {
  width: 25px;
}
#wellcome_sidebar #dev .sidebar-footer a {
  color: #e1e1e1;
  margin-left: 10px;
  text-decoration: none;
}

#welcome_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#welcome_container #menu-links {
  background: #181818;
  border-radius: 6px;
  max-width: 1000px;
  right: -25%;
  transform: translateY(-170px);
  width: 70%;
  z-index: 50;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#welcome_container #menu-links ul {
  display: flex;
  justify-content: center;
  padding: 0.7em;
  margin: 0;
}
#welcome_container #menu-links ul li {
  list-style: none;
  padding: 0 1em;
  border-right: 1px solid #5cb85c;
  margin: 0;
  position: relative;
}
#welcome_container #menu-links ul li a {
  text-decoration: none;
  color: #e1e1e1;
  transition: all 0.3s ease-in-out;
}
#welcome_container #menu-links ul li a:hover {
  color: #5cb85c;
  transition: all 0.3s ease-in-out;
}
#welcome_container #menu-links ul li:last-child {
  border-right: none;
}

#modal_index {
  position: fixed;
  top: 0;
  right: 0;
  background: #000000a1;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}
#modal_index #modal_container {
  background: #fff;
  width: 70%;
  border-radius: 6px;
  position: relative;
  padding: 1em 3em;
  max-height: 700px;
  max-width: 900px;
  border: 2px solid #00000026;
}
#modal_index #modal_container img {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(40%, -40%);
  background: #fff;
  width: 30px;
  border-radius: 100%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
}
#modal_index #modal_container #link1 li.first-li {
  list-style-image: url("/svg/star.svg");
}
#modal_index #modal_container #link1 li.first-li li {
  list-style: circle;
}
#modal_index #modal_container #link1 i {
  opacity: 25%;
  font-size: 12px;
}

#card {
  width: 80%;
  height: 350px;
  background: #e1e1e1;
  border-radius: 16px;
  border: 2px dashed #9f9f9f3b;
  display: grid;
  grid-template-columns: 5fr 1fr;
}

#laptop {
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
#laptop img#welcome_laptop,
#laptop img#welcome_laptop_shadow {
  position: absolute;
  top: -90px;
  left: -400px;
  width: 670px;
}
#laptop img#welcome_laptop_shadow {
  -webkit-animation: moveShadow 5s ease-in-out 0s infinite alternate;
          animation: moveShadow 5s ease-in-out 0s infinite alternate;
}
#laptop img#welcome_laptop {
  -webkit-animation: moveLaptop 5s ease-in-out 0s infinite alternate;
          animation: moveLaptop 5s ease-in-out 0s infinite alternate;
  z-index: 1;
}

#text_area {
  width: 60%;
  height: 100%;
  padding: 0.3em 0em 1em 2em;
  position: relative;
}
#text_area img {
  width: 56px;
}
#text_area h1 {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: "Dancing Script", cursive;
  font-size: 56px;
  font-weight: bold;
}
#text_area p {
  font-size: 18px;
}
#text_area a {
  text-decoration: none;
  background: #5cb85c;
  padding: 1em 2em;
  border-radius: 6px;
  position: absolute;
  color: #000000;
  bottom: -20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border: 2px dotted #00000047;
  transition: all 0.3s ease-in-out;
}
#text_area a:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
  filter: brightness(110%);
}
#text_area #br {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
#text_area #br b:nth-child(1) {
  color: #30983a;
}
#text_area #br b:nth-child(2) {
  color: #f7d802;
}

#copyrigth {
  position: fixed;
  bottom: 6px;
  opacity: 50%;
  right: 6px;
  cursor: default;
  transition: all 0.3s ease-in-out;
  font-size: 12px;
}
#copyrigth:hover {
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

#form_informacoes_indisponiveis .question_root {
  width: 90%;
}

#form_informacoes_indisponiveis_form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
#form_informacoes_indisponiveis_form h3 {
  margin-bottom: 3em;
  text-align: center;
}
#form_informacoes_indisponiveis_form #naodisponiveis_headtable {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#form_informacoes_indisponiveis_form .naoDisp-linha {
  justify-content: center;
  padding: 7px 10px;
  margin: 10px;
  border: 2px solid #00000017;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 28px;
  gap: 5px;
  place-items: center;
  transition: all 0.3s ease-in-out;
}
#form_informacoes_indisponiveis_form .naoDisp-linha:hover {
  transition: all 0.3s ease-in-out;
  background: #e1e1e170;
}
#form_informacoes_indisponiveis_form .naoDisp-item {
  display: flex;
  align-items: center;
  justify-content: center;
}
#form_informacoes_indisponiveis_form .naoDisp-item:nth-child(5) {
  justify-content: center;
}
#form_informacoes_indisponiveis_form .naoDisp-item:nth-child(5) span {
  display: none;
}
#form_informacoes_indisponiveis_form input[type=text],
#form_informacoes_indisponiveis_form input[type=number] {
  border: 2px dashed #e1e1e1;
  border-radius: 6px;
  height: 26px;
  width: 100%;
  padding-left: 8px;
}
#form_informacoes_indisponiveis_form .tributavel_container {
  border: 2px dashed #e1e1e1;
  border-radius: 6px;
  height: 26px;
}
#form_informacoes_indisponiveis_form #plus_container {
  align-items: center;
  background: #5cb85c;
  border-radius: 6px;
  border: 2px solid #181818;
  bottom: 0;
  display: flex;
  justify-content: center;
  padding: 8px;
  right: 50%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  transform: translateY(-25px);
}
#form_informacoes_indisponiveis_form #plus_container:hover {
  transform: scale(1.1) translateY(-25px);
  transition: all 0.3s ease-in-out;
}
#form_informacoes_indisponiveis_form #plus_container img {
  width: 20px;
}
#form_informacoes_indisponiveis_form .btn_delete_row {
  cursor: pointer;
}

@media (max-width: 800px) {
  aside#sidebar {
    z-index: 50;
    position: fixed;
  }

  #contrachequeAtivo {
    flex-direction: column;
  }
  #contrachequeAtivo label {
    margin-bottom: 12px;
  }

  .question_root {
    width: 100% !important;
    margin: 10px 0 !important;
  }

  #form_informacoes_financeiras #form_informacoes_financeiras_col1,
#form_informacoes_financeiras #form_informacoes_financeiras_col2 {
    width: 100% !important;
  }

  select {
    width: 100%;
  }

  #gerenciar_formulario {
    padding-top: 12px;
    position: fixed;
    border-top: 2px solid #e0e1e5;
    right: 0em !important;
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.384);
    -webkit-backdrop-filter: blur(3px);
            backdrop-filter: blur(3px);
    width: 100%;
    bottom: 0 !important;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  #gerenciar_formulario > * {
    margin-right: 0em !important;
  }
  #gerenciar_formulario a {
    width: 60%;
    text-align: center;
    margin-bottom: 8px;
  }

  #form_informacoes_indisponiveis {
    margin-bottom: 115px !important;
  }

  #input_area-data_assinatura_cc {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    height: auto;
    padding: 10px 0.7em;
  }
  #input_area-data_assinatura_cc label {
    text-align: center;
  }
  #input_area-data_assinatura_cc button {
    margin: 0;
  }
  #input_area-data_assinatura_cc input[type=date] {
    margin: 10px 0;
  }

  #gererenciarContracheque_section .gererenciarContracheque-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: auto;
  }
  #gererenciarContracheque_section .gererenciarContracheque-botoes {
    width: 100%;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
  }
  #gererenciarContracheque_section .btn_area_gc {
    display: flex;
    align-items: center;
    margin: 0 10px;
  }
  #gererenciarContracheque_section .gererenciarContracheque-botoes {
    margin: 10px 0 2px 0;
  }

  .perfil_input {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .perfil_input input {
    width: 90%;
    text-align: center;
  }
}
@media (max-width: 1200px) {
  #form_informacoes_indisponiveis_form .naoDisp-linha {
    grid-template-columns: 1fr;
  }
  #form_informacoes_indisponiveis_form .naoDisp-item {
    justify-content: flex-start;
    width: 100%;
  }
  #form_informacoes_indisponiveis_form .naoDisp-item:nth-child(5) {
    justify-content: center;
    border: 1px solid #d9534f;
    border-radius: 6px;
    background-color: #fdefef;
    width: 50%;
    margin: 6px 0;
    padding: 3px 10px;
    cursor: pointer;
  }
  #form_informacoes_indisponiveis_form .naoDisp-item:nth-child(5) span {
    display: inline !important;
    margin-right: 6px;
  }
}
