// ------------- TEMPORÁRIO ------------- //
#gerar {
    position: fixed;
    bottom: 0;
    right: 0;
    background: #000;
    color: aliceblue;
    width: 150px;
    height: 30px;
    border-radius: 0%;
    cursor: pointer;
    transition: all 1s;
}

#gerar:hover {
    opacity: 75%;
    transition: all 1s;
}
// ------------- --------- ------------- //

// ------------- VARIÁVEIS ------------- //
$preto: #181818;
$branco: #e1e1e1;
$cinza-1: #f1f4fb;
// ------------- --------- ------------- //

// ------------- ANIMAÇÕES ------------- //
@keyframes setaParaFechar {
    0% {
        margin-left: 8px;
    }
    100% {
        margin-left: 16px;
    }
}
// ------------- --------- ------------- //

* {
    box-sizing: border-box;
}

body,
#root {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    height: 100vh;
}

#root {
    display: flex;
}

aside#sidebar {
    align-items: center;
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 2em 1em;
    position: relative;
    width: 300px;
}

#btn_fechar {
    align-items: center;
    background: #ffffff;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    height: 32px;
    position: absolute;
    right: -18px;
    top: 6px;
    width: 32px;

    img {
        margin-left: 8px;
        &:hover {
            animation: setaParaFechar 0.8s infinite alternate-reverse ease-out;
        }
    }
}

#logo {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

    img {
        width: 120px;
    }

    span {
        // font-family: "Dongle", sans-serif;
        // font-family: "Montserrat", sans-serif;
        color: #b7bec6;
        font-size: 12px;
        font-weight: bold;
        margin-top: 2px;
        text-transform: uppercase;

        strong {
            color: $preto;
        }
    }
}

nav {
    width: 100%;
    margin-top: 1em;

    a.navbutton {
        border: 2px solid rgba(0, 0, 0, 0);
        margin: 1em 0;
        border-radius: 6px;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        padding: 10px 0;
        text-decoration: none;
        color: $preto;
        transition: all 0.3s;

        &:hover {
            border: 2px solid rgb(0, 0, 0);
            box-shadow: 0px 0px 13px 2px #d8d8d881;
            transition: all 0.3s;
        }

        &.selected {
            background: $preto;
            color: $branco;

            img {
                filter: invert(100%);
            }
        }

        img {
            width: 18px;
            margin: 0 16px;
        }
        span {
            font-size: 14px;
            font-feature-settings: "lnum";
            line-height: 18px;
        }
    }
}

// * {
//     border: 1px solid rebeccapurple;
// }
#sugestoes_contaneir {
    height: 100%;
    display: flex;

    #sugestoes {
        margin-top: 2em;
        background: $cinza-1;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        border-radius: 6px;
        user-select: none;
        align-self: flex-end;

        #lampada {
            background: $cinza-1;
            border-radius: 100%;
            margin-top: -16px;
        }
        img {
            width: 18px;
            padding: 12px;
            box-sizing: content-box;
            height: 18px;
            transition: transform 0.5s, filter 0.5s;
            cursor: pointer;

            &:hover {
                transform: scale(1.15);
                filter: invert(76%) sepia(39%) saturate(2844%) hue-rotate(5deg) brightness(107%) contrast(105%);
                transition: transform 0.5s, filter 0.5s;
            }
        }

        p,
        h5,
        span {
            text-align: center;
            color: $preto;
            margin: 0;
        }

        p {
            font-size: 12px;
            line-height: 24px;
            padding: 1em;
            color: #18181880;
        }

        h5 {
            font-size: 14px;
            margin: 5px 0;
        }

        a {
            display: block;
            border: 1px solid #18181880;
            margin-top: 6px;
            background: #ffffff;
            text-decoration: none;
            text-transform: uppercase;
            color: #18181880;
            font-weight: bold;
            border-radius: 6px;
            transition: color 0.3s, border 0.3s;

            &:hover {
                color: $preto;
                border: 1px solid $preto;
                transition: color 0.3s, border 0.3s;
            }
        }
    }
}

#main {
    background: $cinza-1;
    height: 100vh;
    overflow-y: scroll;
    width: 100%;
    padding: 1em 0;
}

form#formulario {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

#form_informacoes_pessoais,
#form_informacoes_financeiras {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#form_informacoes_financeiras {
    background: rgb(69, 128, 155);
}

#form_informacoes_pessoais {
    background: rgb(69, 155, 90);
}

.question_root {
    width: 30%;
}
