// ------------- VARIÁVEIS ------------- //

// VALORES
$borderRadius: 6px;
// COR
$preto: #181818;
$branco: #e1e1e1;
$cinza-1: #f1f4fb;
$cinza-transparente: rgb(197, 197, 197);

// ------------- --------- ------------- //

// ------------- ANIMAÇÕES ------------- //
@keyframes setaParaFechar {
    0% {
        margin-left: 8px;
    }
    100% {
        margin-left: 14px;
    }
}
// ------------- --------- ------------- //

* {
    box-sizing: border-box;
}

body,
#root,
#app,
#home {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    height: 100vh;
}

#home {
    display: flex;
}

main {
    background: $cinza-1;
    height: 100vh;
    overflow-y: scroll;
    width: 100%;
    padding: 1em 0;
}

#logout {
    align-items: center;
    display: flex;
    height: 50px;
    justify-content: flex-end;
    padding: 0 1em;
    width: 100%;

    #btn_logout {
        border-radius: $borderRadius;
        padding: 0.2em 0.9em;
        border: 2px solid rgba(255, 255, 255, 0);
        transition: border 0.3s;

        &:hover {
            border: 2px solid $preto;
            transition: border 0.3s;
        }
    }
    a {
        color: $preto;
        text-decoration: none;
    }
}

aside#sidebar {
    align-items: center;
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 2em 1em;
    position: relative;
    width: 300px;
}

#btn_fechar {
    align-items: center;
    background: #ffffff;
    border-radius: $borderRadius;
    cursor: pointer;
    display: flex;
    height: 32px;
    position: absolute;
    right: -18px;
    top: 1em;
    width: 32px;

    &:hover {
        img {
            animation: setaParaFechar 0.5s infinite alternate ease-out;
        }
    }
    img {
        margin-left: 8px;
    }
}

#logo {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

    img {
        width: 120px;
    }

    span {
        color: #b7bec6;
        font-size: 12px;
        font-weight: bold;
        margin-top: 2px;
        text-transform: uppercase;

        strong {
            color: $preto;
        }
    }
}

nav {
    width: 100%;
    margin-top: 1em;

    a.navbutton {
        border: 2px solid rgba(0, 0, 0, 0);
        margin: 1em 0;
        border-radius: $borderRadius;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        padding: 10px 0;
        text-decoration: none;
        color: $preto;
        transition: all 0.3s;

        &:hover {
            border: 2px solid rgb(0, 0, 0);
            box-shadow: 0px 0px 13px 2px #d8d8d881;
            transition: all 0.3s;
        }

        &.selected {
            background: $preto;
            color: $branco;

            img {
                filter: invert(100%);
            }
        }

        img {
            width: 18px;
            margin: 0 16px;
        }
        span {
            font-size: 14px;
            font-feature-settings: "lnum";
            line-height: 18px;
        }
    }
}

#sugestoes_contaneir {
    height: 100%;
    display: flex;

    #sugestoes {
        margin-top: 2em;
        background: $cinza-1;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        border-radius: $borderRadius;
        user-select: none;
        align-self: flex-end;

        #lampada {
            background: $cinza-1;
            border-radius: 100%;
            margin-top: -16px;
        }
        img {
            width: 18px;
            padding: 12px;
            box-sizing: content-box;
            height: 18px;
            transition: transform 0.5s, filter 0.5s;
            cursor: pointer;

            &:hover {
                transform: scale(1.15);
                filter: invert(76%) sepia(39%) saturate(2844%) hue-rotate(5deg) brightness(107%) contrast(105%);
                transition: transform 0.5s, filter 0.5s;
            }
        }

        p,
        h5,
        span {
            text-align: center;
            color: $preto;
            margin: 0;
        }

        p {
            font-size: 12px;
            line-height: 24px;
            padding: 1em;
            color: #18181880;
        }

        h5 {
            font-size: 14px;
            margin: 5px 0;
        }

        a {
            display: block;
            border: 1px solid #18181880;
            margin-top: 6px;
            background: #ffffff;
            text-decoration: none;
            text-transform: uppercase;
            color: #18181880;
            font-weight: bold;
            border-radius: $borderRadius;
            transition: color 0.3s, border 0.3s;

            &:hover {
                color: $preto;
                border: 1px solid $preto;
                transition: color 0.3s, border 0.3s;
            }
        }
    }
}

form#formulario {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

#form_informacoes_pessoais,
#form_informacoes_financeiras {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
    justify-content: space-evenly;
    border-radius: $borderRadius;
    border: 2px solid $branco;
    margin: 1em 0.7em;

    h2 {
        width: 100%;
        text-align: center;
        margin: 0 0 0.6em 0;
        background: $preto;
        border-radius: $borderRadius;
        color: #fff;
        padding: 6px;
        cursor: default;
        border: 2px solid $cinza-transparente;
    }
}

#form_informacoes_financeiras {
    .question_root {
        width: 99%;
        margin: 2em 0;
    }

    #form_informacoes_financeiras_col1,
    #form_informacoes_financeiras_col2 {
        width: 48%;
    }
}

.question_root {
    width: 48%;
    border-radius: $borderRadius;
    font-size: 14px;
    border: 2px solid #d8d8d86b;
    background-color: #ffffff;
    margin: 0.7em 0.7em;
    transition: box-shadow 0.3s;
    position: relative;

    &:hover {
        box-shadow: 9px 9px 25px -11px rgba(0, 0, 0, 0.22);
        transition: box-shadow 0.3s;
        cursor: default;
    }

    legend {
        border-radius: $borderRadius;
        border: 2px solid #fff;
        background: $cinza-1;
        color: $preto;
        padding: 3px 1em;
        cursor: default;
    }

    .ajuda_container {
        position: absolute;
        background: $cinza-1;
        border-radius: 100%;
        width: 24px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid #fff;
        right: -11px;
        top: -18px;
        cursor: help;

        img {
            transition: filter 1s;
        }
        &:hover {
            img {
                filter: invert(71%) sepia(79%) saturate(5386%) hue-rotate(167deg) brightness(102%) contrast(97%);
                transition: filter 1s;
            }
        }
    }
}

.question_body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px dashed rgba(218, 218, 218, 0.699);
    padding: 8px 12px;
    border-radius: $borderRadius;
    margin: 2px 0;

    .question_title {
        align-self: flex-start;
    }

    select,
    input {
        border: 1px solid $cinza-transparente;
        border-radius: $borderRadius;
        background: #f2eefd;
        padding: 4px 10px;
    }
}

#gerar {
    position: fixed;
    bottom: 1em;
    right: 2em;
    background: $preto;
    color: $branco;
    width: 280px;
    height: 40px;
    border-radius: $borderRadius;
    cursor: pointer;
    border: 2px solid $cinza-transparente;
    transition: all 1s;
    box-shadow: 0px 0px 36px -13px rgba(0, 0, 0, 0.863);
}

#gerar:hover {
    background: #000;
    transition: all 1s;
    border: 2px solid #000;
}
